.ingre {
    color: black;
    font-style: italic;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 250);
    border-color: rgb(4, 59, 57);
    /*box-shadow: 5px 5px 10px rgb(4, 59, 57);*/
}

.btn2 {
    height: 33px;
    font:  normal bold 16px/1 "Ubuntu", sans-serif;
    color: white;
    /*background: linear-gradient(45deg, rgb(4, 59, 57), rgb(19, 112, 109));*/
    background: linear-gradient(45deg, rgb(1, 12, 11), rgb(4, 59, 57));
    border-style: solid;
    border-color: rgb(4, 59, 57);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(4, 59, 57);
}
.btn2:hover {
    transform: scale(1.1);
}